.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  margin-bottom: 30px;
}

.signup-button {
  width: 100%;
}
.input-field:last-child {
  margin-bottom: 0; /* Remove margin for the last input */
}